---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';
const endpoint= "https://iwbvbapklibbvvbvkycl.supabase.co/rest/v1/a-good-case?select=*";
const key="sb_publishable_a_arvnmYGQIdHssKGJ0i8A_ggJVCbCi";
const options={
    headers:{
        apikey: "sb_publishable_a_arvnmYGQIdHssKGJ0i8A_ggJVCbCi"
    }
}
const data = await fetch(endpoint, options).then((response) => response.json());
console.log(data);
---
<Layout>
    <section class="product-page">
  <h1>Specialøl</h1>
  <div class="filter-bar">
    <select id="sortPrice">
      <option value="default">Featured</option>
      <option value="low">Pris: Lav til Høj</option>
      <option value="high">Pris: Høj til Lav</option>
    </select>
  </div>
  <div class="product-grid" id="productGrid">
      {data.map((product: any) => (
        <a class="product-link" href={`/details/${product.id}`} data-price={product.price} data-id={product.id}>
          <ProductCard
            navn={product.name}
            bryggeri={product.category}
            pris={product.price}
            billede_url={product.image}
          />
        </a>
      ))}
    </div>
</section>
</Layout>
<style>
  .product-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
  }
  a { text-decoration: none; color: inherit; }
  h1 { font-family: sans-serif; font-size: 3rem; margin-bottom: 30px; }
  .filter-bar {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
  }
  select {
    padding: 10px;
    border: 1px solid #333;
    min-width: 160px;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
  }

@media (max-width: 768px) {
  
.product-grid {
  grid-template-columns: 1fr;
  padding: 0 20px;
}

h2 {
  font-size: 25px;
  text-align: center;
}

.button-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

}


</style>
<script>
  const sortSelect = document.querySelector("#sortPrice") as HTMLSelectElement;
  const grid = document.querySelector("#productGrid") as HTMLElement;

  if (sortSelect && grid) {
    const cards = Array.from(document.querySelectorAll(".product-link")) as HTMLAnchorElement[];

    sortSelect.addEventListener("change", (e) => {
      const target = e.target as HTMLSelectElement;
      const value = target.value;

      if (value === "low") {
        cards.sort((a, b) => Number(a.dataset.price) - Number(b.dataset.price));
      } else if (value === "high") {
        cards.sort((a, b) => Number(b.dataset.price) - Number(a.dataset.price));
      } else {
        cards.sort((a, b) => Number(a.dataset.id) - Number(b.dataset.id));
      }

      cards.forEach(card => grid.appendChild(card));
    });
  }
</script>